* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fffbf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.main-container {
    display: flex;
}

.main-content {
    position: fixed;
    right: 0;
    width: calc(100% - 150px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
/* 
.footer {
    position: fixed;
    bottom: 0;
    border-right: 3px solid #964b4b;
    width: 100vw;
    align-items: center;
    justify-items: center;
    text-align: center;
} */

