.header-nav-div {
    background-color: #fffbf0;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border-bottom: 3px solid #964b4b; */
    padding-bottom: 5px;
    padding-top: 5px;
    /* min-height: fit-content; */
    /* max-height: fit-content; */
    height: 73px;
}

.target, #aurora-icon, #aurora-user {
    flex-basis: 3%;
    transition: transform 0.3s;
}

#aurora-icon {
    margin-left: 3%;
}

#aurora-user {
    margin-right: 3%;
}

.target:hover, #aurora-icon:hover, #aurora-user:hover {
    transform: scale(1.15,1.15);
    cursor: pointer;
}

