.sidebar {
    --expandable: false;
    min-width: 150px;
    min-height: calc(100vh - 73px - 73px);
    /* border-right: 2px solid #964b4b; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 7.5%;
    z-index: 2;
    background-color: #fffbf0;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.sidebar.expandable {
    width: 200px;
    align-items: self-end;
    transform: translateX(100px);
}

.sidebar-items {
    list-style: none;
}

.sidebar-item {
    display: flex;
    flex-basis: 3%;
    transition: transform 0.5s;
    justify-content: space-between;
    margin-bottom: 25%;
    padding-bottom: 100%;
    margin-right: 25px;
}

.sidebar.expandable .sidebar-item {
    padding-bottom: 0%;
    margin-right: 100px;
}

.sidebar-item:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.sidebar-item > p {
    text-align: left;
    flex: 1;
    margin-left: 10%;
    font-size: large;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.sidebar.expandable .sidebar-item > p {
    opacity: 1;
    display: inline;
    padding-left: 10%;
}

.sidebar-item > p > span {
    transition: transform 0.3s;
}

.lower-sidebar {
    flex-grow: 1;
    margin-bottom: -20%;
}

.sidebar.expandable .lower-sidebar {
    margin-right: -10px;
}

.upper-sidebar {
    flex-grow: 4;
    padding-top: 10%;
}
